<link rel="stylesheet" href="shoes.component.css">
<style>
    img{
        border:5px solid rgb(54, 39, 39)
    }
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

<body style="background-color:rgb(143, 200, 160);">
  
<body style="background-color:rgb(184, 214, 224);">
  
<!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1600px;margin-top:100px" >
    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-15 w3-center">
      <div class="w3-quarter">
        <div class="r2">
        <h1 style="text-align:center"><b><u>Product Card</u></b></h1>
</div>
      <div class="card">
        <img src="https://www.teahub.io/photos/full/82-824746_2000x1333-nice-images-collection-shoes-that-tie-themselves.jpg" alt="1" width="1000" height="500" >
        <h1>SHOES</h1>
  <p class="price">$19.99</p>
  <p>Give your feet the beauty treatment that only brand new shoes can give.</p>
  <p style="font-size: 26;"><button>ADD TO CART</button></p>
</div>
      </div>
      <div class="w3-row-padding w3-padding-16 w3-center" id="food"></div>
      <div class="w3-quarter">
        <div class="card">
        <img src="https://c4.wallpaperflare.com/wallpaper/881/453/138/accessory-elegance-fashion-footwear-wallpaper-preview.jpg" alt="Steak" width="1000" height="500" >
        <h1>SHOES</h1>
  <p class="price">$29.99</p>
  <p>When the shoes get lighter, the moves get tighter.</p>
  <p><button>ADD TO CART</button></p>
</div>
</div>
      <div class="w3-row-padding w3-padding-16 w3-center"></div>
      <div class="w3-quarter">
        <div class="card">
        <img src="https://free4kwallpapers.com/uploads/originals/2015/11/24/in-shoes-wallpaper.jpg" alt="Cherries" width="1000" height="500">
        <h1>SHOES</h1>
  <p class="price">$20.66</p>
  <p>Our shoe store brings through the luxury of all the basics your feet can have.</p>
  <p><button>ADD TO CART</button></p>
</div>
        </div>
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
            <div class="card">
            <img src="https://images.unsplash.com/photo-1552346154-21d32810aba3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c25lYWtlcnN8ZW58MHx8MHx8&w=1000&q=80" alt="Pasta and Wine" width="1000" height="500">
            <h1>SHOES</h1>
  <p class="price">$11.99</p>
  <p>Give your feet that fresh look every time you take your shoes off.</p>
  <p><button>ADD TO CART</button></p>
</div>
</div>