<link rel="stylesheet" href="watch.component.css">
<style>
  img{
        border:5px solid rgb(54, 39, 39)
    }
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

<body style="background-color:rgb(222, 182, 218);">
  


<body style="background-color:rgb(212, 232, 239);">
  
<!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1600px;margin-top:100px" >
    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-15 w3-center">
      <div class="w3-quarter">
        <div class="r2">
        <h1 style="text-align:center"><b><u>Product Card</u></b></h1>
</div>
      <div class="card">
        <img src="https://i.pinimg.com/originals/db/12/fe/db12fea16a6836ac1a7580921983fa06.jpg" alt="1" width="1000" height="500" >
        <h1>WATCH</h1>
  <p class="price">$19.99</p>
  <p>Creating watches with priceless and timeless designs</p>
  <p style="font-size: 26;"><button>ADD TO CART</button></p>
</div>
      </div>
      <div class="w3-row-padding w3-padding-16 w3-center" id="food"></div>
      <div class="w3-quarter">
        <div class="card">
        <img src="https://c4.wallpaperflare.com/wallpaper/29/520/1004/breitling-swiss-luxury-watches-swiss-wrist-watches-luxury-analog-watch-breitling-hd-wallpaper-preview.jpg" alt="Steak" width="1000" height="500" >
        <h1>WATCH</h1>
  <p class="price">$29.99</p>
  <p>Believe in the art of new ideas that come with a great time.</p>
  <p><button>ADD TO CART</button></p>
</div>
</div>
      <div class="w3-row-padding w3-padding-16 w3-center"></div>
      <div class="w3-quarter">
        <div class="card">
        <img src="https://www.citizenwatches.store/public/images/Detailimage1639645141.jpg" alt="Cherries" width="1000" height="500">
        <h1>WATCH</h1>
  <p class="price">$20.66</p>
  <p>Building a new perspective of time with our classic watches.</p>
  <p><button>ADD TO CART</button></p>
</div>
        </div>
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
            <div class="card">
            <img src="https://wallpapercave.com/dwp1x/wp1853720.jpg" alt="Pasta and Wine" width="1000" height="500">
            <h1>WATCH</h1>
  <p class="price">$11.99</p>
  <p>The long time youre with us, the better we shall serve you</p>
  <p><button>ADD TO CART</button></p>
</div>
          </div>