<link rel="stylesheet" href="home.component.css">
<style>
    img{
        border:5px solid rgb(54, 39, 39)
    }
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.center{
    text-align:center;
}
</style>
<body style="background-color:rgb(212, 232, 239);">
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:47900009px;margin-top:100px" ;>
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter" > 
    
      <img src="https://c4.wallpaperflare.com/wallpaper/29/520/1004/breitling-swiss-luxury-watches-swiss-wrist-watches-luxury-analog-watch-breitling-hd-wallpaper-preview.jpg" alt="1" width="800" height="500"  style="margin-left: 500px;">
      <div class="center"><h1 style="margin-left: 800px;"><a routerLink="/watch"><b><u>WATCH</u></b></a></h1>
      <p style="font-size:160%;margin-right: -900px;"><i>Instruments that are built by professionals for talented people</i></p>
    </div>
    </div>
    <div class="w3-row-padding w3-padding-16 w3-center" id="food"></div>
    <div class="w3-quarter">
      <img src="https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619__340.jpg"  width="800" height="500" style="margin-left: 500px;">
      <div class="center"> <h1 style="margin-left: 800px;"><a href="shoes.html"><b><u>SHOES</u></b></a></h1>
      <p style="font-size:160%;margin-right: -900px;"><i>Give your feet the beauty treatment that only brand new shoes can give.</i></div>
    </div>
    </div>
    <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://static.toiimg.com/photo/msid-85588603/85588603.jpg?resizemode=4&width=400"  width="800" height="500" style="margin-left: 500px;">
      <div class="center"><h1 style="margin-left: 750px;"><a href="headphones.html"><b><u>HEADPHONES</u></b></a></h1>
      <p style="font-size:160%;margin-right: -900px;"><i>Nothing is reliable but your headphones.</i></p>
    </div>
</div>
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
        <img src="https://cdn.pixabay.com/photo/2020/08/14/05/58/glasses-5486967_960_720.jpg"  width="800" height="500" style="margin-left: 500px;">
        <div class="center"><h1 style="margin-left: 800px;"><a href="glasses.html"><b><u>GLASSES</u></b></a></h1>
        <p style="font-size:160%;margin-right: -900px;"><i>Everything is clear with better optics.</i></p>
      </div>
      </div>
      <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://thumbs.dreamstime.com/b/set-leather-handbags-24710262.jpg"  width="800" height="500" style="margin-left: 500px;">
      <div class="center"> <h1 style="margin-left:850px;"><a href="bags.html"><b><u>BAGS</u></b></a></h1>
      <p style="font-size:160%;margin-right: -900px;"><i>You carry your dignity.</i></p>
    </div>
    </div>
    </div>

