<link rel="stylesheet" href="headphones.component.css">

<style>
    img{
        border:5px solid rgb(54, 39, 39)
    }
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(14, 14, 14);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

<body style="background-color:rgb(158, 186, 124);">
  

<body style="background-color:rgb(212, 232, 239);">
  
<!-- !PAGE CONTENT! -->

  <div class="w3-main w3-content w3-padding" style="max-width:1600px;margin-top:100px" >
    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-15 w3-center">
      <div class="w3-quarter">
        <div class="r1">
        <h1 style="text-align:center"><b><u>Product Card</u></b></h1>
</div>
      <div class="card">
        <img src="https://wallpaperaccess.com/full/1910636.jpg" alt="1" width="1000" height="500" >
        <h1>HEADPHONES</h1>
  <p class="price">$19.99</p>
  <p>Headphones that make music sound like a celebration</p>
  <p style="font-size: 26;"><button>ADD TO CART</button></p>
</div>
      </div>
      <div class="w3-row-padding w3-padding-16 w3-center" id="food"></div>
      <div class="w3-quarter">
        <div class="card">
        <img src="https://cdn.uc.assets.prezly.com/3c245846-8713-47c7-88e6-f9d6d1914c07/-/crop/8256x2968/0,1781/-/preview/-/preview/1920x1200/-/quality/best/-/format/auto/" alt="Steak" width="1000" height="500" >
        <h1>HEADPHONES</h1>
  <p class="price">$29.99</p>
  <p>Good times are all about good music with quality</p>
  <p><button>ADD TO CART</button></p>
</div>
</div>
      <div class="w3-row-padding w3-padding-16 w3-center"></div>
      <div class="w3-quarter">
        <div class="card">
        <img src="https://p4.wallpaperbetter.com/wallpaper/112/140/867/summer-nature-music-headphones-wallpaper-preview.jpg" alt="Cherries" width="1000" height="500">
        <h1>HEADPHONES</h1>
  <p class="price">$20.66</p>
  <p>Because your ears should know what quality sounds like!</p>
  <p><button>ADD TO CART</button></p>
</div>
        </div>
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
            <div class="card">
     <img src="https://i.pinimg.com/736x/d5/31/4b/d5314bf7b15732a041c4c9444a4dd703.jpg" alt="Cherries" width="1000" height="500">
            <h1>HEADPHONES</h1>
  <p class="price">$11.99</p>
  <p>Ensure that the decibels are given to your ears in the most effective way possible.</p>
  <p><button>ADD TO CART</button></p>
</div>          </div>